<h1>Admin Home Page</h1>

<% if user_signed_in? %>
	<h2>Show Admin Profile</h2>
	<%= link_to "Manage Companies", "companies#index" %>
<% else %>
	<div>
			<h1><%= link_to "Admin Sign Up", new_admin_registration_path %></h1>
	</div>
<% end %>